{% extends "base.html" %} 

{% block title %} 
Experience 
{% endblock title %}

{% block content %}
<section class="experience-section center-column">
        <h2>Experience | Education</h2>

        <div class="experience-list">

            <div class="experience-card">
                <p>SDGKU</p>
                <p>Full Stack Development Immersive / Student</p>
                <p>A Full Stack Development bootcamp.</p>
                

                <div class="skills-container center">
                    <label class="text-label">Python</label>
                    <label class="text-label">React</label>
                    <label class="text-label">JavaScript</label>
                </div>

            </div>

            </div>

        </div>

    </section>
{% endblock content %}
